{% extends 'ps_blog_app/base.html'%}

{% block body_block %}
<div class='jumbotron'>
    <h1 id='upcoming_header'>New upcoming launches</h1>
</div>
<div class='col-md-8 offset-md-2'>

    <img src="https://static.wikia.nocookie.net/horizonzerodawn/images/e/e5/Horizon_Forbidden_West.jpg/revision/latest?cb=20200613022428" width='200' height='300' border='2px' alt="Horizion Forbbiden West">
    <h4>Title: Horizion Forbidden West</h4>
    <h4>Platform: PS5</h4>
    <h4>Developer: Guerilla Games</h4>
    
</div>

{% endblock %}
