{% extends 'ps_blog_app/base.html'%}

{% block body_block %}
<div class='jumbotron'>
    <h1 id='upcoming_header'>New upcoming titles for Playstation 5</h1>
</div>
<div class="container">
<div class="row">
<div class='col-md-8 offset-md-2'>

    <img src="https://static.wikia.nocookie.net/horizonzerodawn/images/e/e5/Horizon_Forbidden_West.jpg/revision/latest?cb=20200613022428" width='700' height='500' style="border: 5px solid rgb(0, 0, 0);" alt="Horizion Forbbiden West">
    <h4>Title: Horizion Forbidden West</h4>
    <h4>Platform: PS5</h4>
    <h4>Developer: Guerilla Games</h4>
</div>
</div>

<div class="row">
<div class = "col-md-8 offset-md-2">
    <img src="https://d1lss44hh2trtw.cloudfront.net/assets/article/2021/01/14/god-of-war-ragnarok-release-date_feature.jpg" width='700' height='500' style="border: 5px solid rgb(0, 0, 0);" alt="Horizion Forbbiden West">
    <h4>Title: God of War Ragnarok</h4>
    <h4>Platform: PS5</h4>
    <h4>Developer: Santa Monica Studios</h4>
</div>
</div> 

<div class="row">
<div class = "col-md-8 offset-md-2">
    <img src="https://static.wikia.nocookie.net/ratchet/images/0/0e/Rift_Apart_logo.png/revision/latest?cb=20201002020119" width='700' height='500' style="border: 5px solid rgb(0, 0, 0);" alt="Horizion Forbbiden West">
    <h4>Title: Ratchet and Clank Rift Apart</h4>
    <h4>Platform: PS5</h4>
    <h4>Developer: Insomniac Games</h4>
</div>
</div> 

</div>

{% endblock %}
