#home_link, #login_link, #upcoming_link, #register_link, #user_name{
    color: white;
}


#blog_index_header, #category_header, #register_header{
    color: #2995e2;
}

#upcoming_header{
    color: #2995e2;
}

/*
login.html
*/
#log_out{
    color: white;
}